$text-color: #4F4F4D;
$text-title: #333333;
$soft-white: #F0F2F5;
$white: #FFFFFF;
$baby-blue: #BAE2FF;
$mint-green:#B9FFDD;
$pale-yellow:#FFE8AC;
$light-coral:#FFCAB9;
$salmon-pink:#F99494;
$sky-blue:#9DD6FF;
$lavender:#ECA1FF;
$light-lime-green:#DAFF8B;
$peach:#FFA285;
$light-gray:#CDCDCD;
$gray:#979797;
$taupe:#A99A7C;
$favorited: #FFA000;
$form-gray: #9A9A9A;
$text-size: 13px;
$title-size: 16px;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$color-map: (
  'default': $white,
  'color-1': $baby-blue,
  'color-2': $mint-green,
  'color-3': $pale-yellow,
  'color-4': $light-coral,
  'color-5': $salmon-pink,
  'color-6': $sky-blue,
  'color-7': $lavender,
  'color-8': $light-lime-green,
  'color-9': $peach,
  'color-10': $light-gray,
  'color-11': $gray,
  'color-12': $taupe
);